body {
  background-image: url(1.jpg);
  
}

div {
  
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  padding: 90px;
  padding-bottom: 200px;
  
}

button {
  padding: 10px;
  color: #fff;
  background-color: blue;
  
}
